<!DOCTYPE html>
<html lang="en" class="<%= theme.fontSizeClass %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style><%- css %></style>
</head>
<body>
    <div id="container" class="container <%= theme.variantClass %>">
        <div class="nav-container">
            <nav class="nav">
                <div class="nav-header">
                    <h1 class="nav-headerText"><a href="#<%= home %>"><%= title %></a></h1>
                    <div class="nav-headerIcon open" id="navExpandIcon" onclick="openMenu()">
                        <%- include("../assets/images/menu_book_black_24dp.svg") %>
                    </div>
                    <div class="nav-headerIcon" id="navCollapseIcon" onclick="closeMenu()">
                        <%- include("../assets/images/close_black_24dp.svg") %>
                    </div>
                </div>
                <ul class="nav-menu">
                    <% for (let item of docTree) { %>
                        <% if (item.type == 'file') { %>
                            <%- include('nav-file.ejs', { file: item }) %>
                        <% } else { %>
                            <li class="nav-itemContainer">
                                <div class="nav-item" onclick="toggleSubMenu('<%= item.anchor %>')">
                                    <h1 class="nav-itemHeader"><%= item.header %></h1>
                                    <div class="nav-toggle <%= autoExpandSubmenus ? '' : 'open' %>" id="subMenuExpandIcon_<%= item.anchor %>">
                                        <%- include("../assets/images/expand_more_black_24dp.svg") %>
                                    </div>
                                    <div class="nav-toggle <%= autoExpandSubmenus ? 'open' : '' %>" id="subMenuCollapseIcon_<%= item.anchor %>">
                                        <%- include("../assets/images/expand_less_black_24dp.svg") %>
                                    </div>
                                </div>
                                <ul class="nav-subMenu <%= autoExpandSubmenus ? 'open' : '' %>" id="subMenu_<%= item.anchor %>">
                                    <% for (let file of item.files) { %>
                                        <%- include('nav-file.ejs', { file: file }) %>
                                    <% } %>
                                </ul>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </nav>
        </div>
        <div class="markdown-container">
            <div class="markdown-topBar">
                <span id="markdown-menuButton">
                    <%- include("../assets/images/settings_black_24dp.svg") %>
                </span>
                <div class="markdown-menu" id="markdown-menu">
                    <div>
                        <span class="markdown-menuItem" onclick="themeFontResize(10)"><%- include("../assets/images/text_increase_black_24dp.svg") %></span>
                        <span class="markdown-menuItem" onclick="themeFontResize(-10)"><%- include("../assets/images/text_decrease_black_24dp.svg") %></span>
                    </div>
                    <div>
                        <span class="markdown-menuItem" onclick="themeChange('light')">Light</span>
                        <span class="markdown-menuItem" onclick="themeChange('mid')">Mid</span>
                        <span class="markdown-menuItem" onclick="themeChange('dark')">Dark</span>
                    </div>
                </div>
                <% if (downloadEnabled) { %>
                    <span id="markdown-menuButton" onclick="download()">
                        <%- include("../assets/images/download_black_24dp.svg") %>
                    </span>
                <% } %>
            </div>
            <% for (let item of docTree) { %>
                <% if (item.type == 'file') { %>
                    <div class="markdown" id="<%= item.anchor %>">
                        <%- item.content %>
                    </div>
                <% } else { %>
                    <% for (let file of item.files) { %>
                        <div class="markdown" id="<%= file.anchor %>">
                            <%- file.content %>
                        </div>
                    <% } %>
                <% } %>
            <% } %>
        </div>
    </div>
    <div class="hidden" id="linkIcon">
        <%- include("../assets/images/link_black_24dp.svg") %>
    </div>
    <%- include('../../common/ejs/scripts.ejs') %>
    <%- include('scripts.ejs') %>
</body>
</html>