<!DOCTYPE html>
<html lang="en" class="<%= fontClass %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style><%- css %></style>
</head>
<body>
    <div id="container" class="container <%= themeVariantClasses %>">
        <nav class="nav-container">
            <div class="nav">
                <div class="nav-header">
                    <h1 class="nav-headerText">
                        <a href="#"><%= title %></a>
                    </h1>
                    <div class="nav-headerIcon open" id="navExpandIcon" onclick="toggleMenu()">
                        <%- include("assets/images/menu_book_black_24dp.svg") %>
                    </div>
                    <div class="nav-headerIcon" id="navCollapseIcon" onclick="toggleMenu()">
                        <%- include("assets/images/close_black_24dp.svg") %>
                    </div>
                </div>
                <ul class="nav-menu">
                    <% for (let item of docTree) { %>
                        <% if (item.type == 'file') { %>
                            <li class="nav-itemContainer" id="navItemContainer_<%= item.id %>">
                                <a class="nav-item" href="#<%= item.id %>">
                                    <h1 class="nav-itemHeader nav-link"><%= item.header %></h1>
                                </a>
                            </li>
                        <% } else { %>
                            <li class="nav-itemContainer">
                                <div class="nav-item" onclick="toggleSubMenu('<%= item.header %>')">
                                    <h1 class="nav-itemHeader nav-link"><%= item.header %></h1>
                                    <div class="nav-toggle open" id="subMenuExpandIcon_<%= item.header %>">
                                        <%- include("assets/images/expand_more_black_24dp.svg") %>
                                    </div>
                                    <div class="nav-toggle" id="subMenuCollapseIcon_<%= item.header %>">
                                        <%- include("assets/images/expand_less_black_24dp.svg") %>
                                    </div>
                                </div>
                                <ul class="nav-subMenu" id="subMenu_<%= item.header %>">
                                    <% for (let file of item.files) { %>
                                        <li class="nav-itemContainer" id="navItemContainer_<%= file.id %>">
                                            <a class="nav-item nav-link" href="#<%= file.id %>">
                                                <h1 class="nav-itemHeader"><%= file.header %></h1>
                                            </a>
                                        </li>
                                    <% } %>
                                </ul>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </nav>
        <div class="markdown-container">
            <div class="markdown-topBar">
                <span id="markdown-menuButton">
                    <%- include("assets/images/settings_black_24dp.svg") %>
                </span>
                <div class="markdown-menu" id="markdown-menu">
                    <div>
                        <span class="markdown-menuItem" onclick="themeFontResize(10)"><%- include("assets/images/text_increase_black_24dp.svg") %></span>
                        <span class="markdown-menuItem" onclick="themeFontResize(-10)"><%- include("assets/images/text_decrease_black_24dp.svg") %></span>
                    </div>
                    <div>
                        <span class="markdown-menuItem" onclick="themeChange('light')">Light</span>
                        <span class="markdown-menuItem" onclick="themeChange('mid')">Mid</span>
                        <span class="markdown-menuItem" onclick="themeChange('dark')">Dark</span>
                    </div>
                </div>
                <span id="markdown-menuButton" onclick="download()">
                    <%- include("assets/images/download_black_24dp.svg") %>
                </span>
            </div>
            <% for (let item of docTree) { %>
                <% if (item.type == 'file') { %>
                    <div class="markdown" id="<%= item.id %>">
                        <%- item.content %>
                    </div>
                <% } else { %>
                    <% for (let file of item.files) { %>
                        <div class="markdown" id="<%= file.id %>">
                            <%- file.content %>
                        </div>
                    <% } %>
                <% } %>
            <% } %>
        </div>
    </div>
    <%- include('script.ejs') %>
</body>
</html>